<form class="" action="users/result" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="">Your Name:</label>
  <input type="text" name=survey[name] placeholder="name">
  <label for="">Dojo Location:</label>
  <select class="" name=survey[dojo_location]>
    <option value="Mountain View">Mountain View</option>
    <option value="Seattle">Seattle</option>
    <option value="Dallas">Dallas</option>
    <option value="New York">New York</option>
  </select>
  <label for="">Favorite Language</label>
  <select class="" name=survey[fav_lang]>
    <option value="Python">Python</option>
    <option value="Ruby">Ruby</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Java">Java</option>
  </select>
  <label for="">Comments (optional):</label>
  <textarea name=survey[comment] rows="8" cols="80"></textarea>
  <input type="submit" name="submit" value="Submit">
</form>
